@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    -webkit-tap-highlight-color: transparent;
}

body {
   background-color: #fff;
   font-family: 'Roboto', sans-serif;
   direction: ltr;
}

*, :after, :before {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

.body-login {
   height: 100%;
   margin-top: 0px;
}

/* Form */
.login-form {
   /* quieto */
    width: 100%;
    height: 100%;
}

.login-authorize-form {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.login-authorize-form, .login-image {
    height: 100%;
}

.login-form-inner {
    -webkit-box-flex: 2;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
    width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

.login-form-inner h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 100;
}

.login-form-inner .form-control:not(:disabled) {
    border-bottom: 1px solid #999;
    background-color: transparent;
}

.login-form-inner .form-control {
    box-shadow: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid;
    background-color: transparent;
}

.form-horizontal .form-group-lg .login-form-inner .form-control, .login-form-inner .form-horizontal .form-group-lg .form-control, .login-form-inner .input-group-lg>.form-control, .login-form-inner .input-group-lg>.input-group-addon, .login-form-inner .input-group-lg>.input-group-btn>.btn, .login-form-inner .input-lg {
    font-size: 16px;
}

.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control {
   background-image: none;
}

.login-form-inner .form-control:focus {
    box-shadow: none;
    border-color: #03A9F4;
    outline: 0;
}

.form-control, output {
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    display: block;
}

.login-form-inner .form-group {
    position: relative;
    margin-bottom: 20px;
}

.login-form-inner .signin-group {
    margin-top: 30px;
}

@media only screen and (min-width: 768px) {
   .login-authorize-form, .login-image {
       float: left;
       width: 50%;
    }
}

.login-authorize-form, .login-form-image {
    height: 100%;
}

.login-authorize-form .logo {
    display: block;
    width: 183px;
    margin: 15px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

/* Ips Universitaria */
.login-form-image {
    position: fixed;
    right: 0;
    /*background-color: #0098db;*/
    display: none;
    background-image: url(https://puu.sh/wCfQC/e41ed77629.jpg); /*,linear-gradient(to bottom right,#49c3c9,#249bd6 50%,#0c5b9c);*/
    background-repeat: no-repeat;
    background-size: 100vh auto;
    background-position: 100% 100%,0 0;
}

.login-form-copy {
    margin: 40px auto;
    width: 400px;
}

.login-form-copy h3 {
    color: #F5F5F5;
    font-size: 28px;
}

.login-form-copy h5 {
    color: #F5F5F5;
    font-size: 20px;
}

@media only screen and (min-width: 768px) {
   .login-form-form, .login-form-image {
       float: left;
       width: 50%;
   }

   .login-form-image {
       display: inline-block;
   }
}

.login-footer {
   font-size: 12px;
    font-size: 1.2rem;
    padding-bottom: 15px;
    text-align: center;
}
